@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Escuela Sor Maria Romero</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PatronesDeSeguridad.styles.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        body {
            background-image: url('https://wallpapercave.com/wp/wp2763910.gif');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .logo-image {
            width: 45px;
            height: 40px;
            background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGE0dnU0aXBhZWhrdHM1bXFzdGsxbGtubzU2dTFieGJvczVpdngyMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/Rfe6JpT1ILQa9Z81ap/giphy.gif');
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            margin-left: 5px;
            margin-top: 0px
        }

        .barrasup {
            background-color: rgba(22, 63,66, 0.5);
        }

        .barrainf {
            background-color: rgba(92, 92, 92, 0.7);
            width: 100%;
            padding: 10px 0;
        }

        a.navbar-brand {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            border-radius: 100px
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark barrasup border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand bg-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="logo-image"></span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblEstudiantes" asp-action="Index">Estudiantes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblProfesores" asp-action="Index">Profesores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblCursos" asp-action="Index1">Cursos</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblMaterias" asp-action="Index">Materias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblMateriaCursoUsuarios" asp-action="Index">Asignaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblMatriculaEstudiantes" asp-action="Index">Matriculas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Estadisticas" asp-action="Index">Estadisticas</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Roles</a>
                                </li>


                            }
                            @if (User.IsInRole("Profesor"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblCursos" asp-action="Index1">Cursos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblMaterias" asp-action="Index">Materias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblMateriaCursoUsuarios" asp-action="Index">Asignaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblMatriculaEstudiantes" asp-action="Index">Matriculas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Estadisticas" asp-action="Index">Estadisticas</a>
                                </li>
                            }
                            @if (User.IsInRole("Estudiante"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblCursos" asp-action="Index1">Cursos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="tblMatriculaEstudiantes" asp-action="Index">Matriculas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Estadisticas" asp-action="Index">Estadisticas</a>
                                </li>
                            }
                            @*
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">(8)</a>
                        </li>*@
                        </ul>
                    </div>
                }

                <partial name="_LoginPartial.cshtml"></partial>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class=" footer text-muted barrainf">
    <div class="container">
    &copy; 2023 - Douglas Méndez Avila - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
