@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-6 text-light" style="font-family: 'Georgia', serif; background-color: rgba(51, 102, 153, 0.7); padding: 20px; border-radius: 10px; text-align: center;">Bienvenidos a la Escuela Sor María Romero</h1>
    <br />
    <br />
    <br />
    <img src="https://www.gifss.com/comics/southpark/images/southpark-03.gif" />
    <img src="https://www.gifss.com/comics/southpark/images/gif-South-Park-12.gif" alt="Imagen de ejemplo">
    <img src="https://www.gifss.com/comics/southpark/images/gif-South-Park-13.gif" alt="Imagen de ejemplo">
    <img src="https://www.gifss.com/comics/southpark/images/gif-South-Park-17.gif" />
 @*   <img src="https://www.gifss.com/comics/southpark/images/gif-South-Park-9.gif" />
    <img src="https://www.gifss.com/comics/southpark/images/southpark-01.gif" />*@
    <img src="https://www.gifss.com/comics/southpark/images/southpark-02.gif" />

  
    <br />
    <br />
    <br />
    <br />
    <h3 class="text-light">
        Contacto: <a class="text-light" href="https://www.linkedin.com/in/douglasmendezprogramador" target="_blank">
            <i class="fab fa-linkedin "></i> Douglas Méndez A.
        </a>
    </h3>
</div>
